@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Styles */
:root {
    --dark-01: #0B0223;
    --dark-02: #3C354F;
    --dark-03: #534C64;
    --indigo-01: #4EC5F7;
    --white-01: #ffffff;
    --primary-color: #FF42A5;
    --white-02: rgba(255, 255, 255, 0.60);
    --linear-01: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    --linear-02: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --linear-03: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    --gray-01: rgba(11, 2, 35, 0.10);
    --opacity-01: rgba(0, 0, 0, 0.05);
    --linear-04: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
    --red-01: #F61C0D;
    --font-large: 45px;
    --font-weight-large: 700;

}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    background: var(--white-01);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-uppercase {
    text-transform: uppercase;
}

.position-relative {
    position: relative;
}

.w-100 {
    width: 100%;
}

.mr-20 {
    margin-right: 1.25rem;
}

.mr-24 {
    margin-right: 1.5rem;
}

.mb-24 {
    margin-bottom: 1.5rem;
}

.mb-32 {
    margin-bottom: 2rem;
}

.mb-16 {
    margin-bottom: 1rem;
}

.ml-16 {
    margin-left: 1rem;
}

.ml-32 {
    margin-left: 2rem;
}

.btn-primary {
    padding: 21px 40px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-01);
    border: 0;
    border-radius: 48px;
    background: var(--linear-01);
}

.text-gradient {
    background: var(--linear-02);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading-text {
    font-size: 48px;
    color: var(--dark-01);
    font-weight: 700;
}

.description-text {
    color: var(--dark-03);
    line-height: 30px;
}

/* Navbar Styles */
header {
    background: var(--white-01);
    box-shadow: 0px 4px 30px 0px var(--opacity-01);
    padding: 2.5rem 0;
}

.logo span {
    font-size: var(--font-large);
    font-weight: var(--font-weight-large);
    color: var(--dark-01);
}

.logo span::first-letter {
    color: var(--primary-color);
}

nav ul {
    top: 5px;
}

nav li:last-child {
    background-color: var(--gray-01);
    padding: 1rem 1.5rem;
    border-radius: 8px;
}

nav a {
    color: var(--dark-02);
    font-weight: 500;
}

nav i {
    font-size: 1.5rem;
}

nav .fa-youtube {
    color: var(--red-01);
}

/* Banner Styles */
.banner {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.banner-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 68px;
}

.banner-content h1 {
    font-weight: 600;
}

.banner-content h2 {
    font-size: 95px;
    font-weight: 800;
    margin-bottom: 2rem;
}

.banner-content ul {
    margin-bottom: 40px;
}

.banner-content ul li {
    color: var(--dark-03);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.banner-content ul li i {
    font-size: 1.5rem;
    margin-right: 12px;
}

.banner-content ul li i.fa-play-circle {
    color: var(--red-01);
}

.banner-content ul li i.fa-download {
    color: var(--primary-color);
}

.banner-content button.btn-info {
    background: var(--indigo-01);
}

/* We Are Gamer Styles */
.we-are-gamer {
    background: var(--linear-03);
    padding: 95px 0;
}

.gamer-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 52px;
}

.gamer-content {
    text-align: right;
}

.gamer-content p {
    max-width: 520px;
    margin-left: auto;
}

.gamer-content h4 {
    color: var(--dark-03);
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

.gamer-content h4 span {
    font-size: 24px;
    font-weight: 500;
}

/* Online Games Styles */
.online-games {
    padding: 120px 0;
}

.games-wrapper {}

.games-wrapper .title-section {
    margin-bottom: 3rem;
    text-align: center;
}

.games-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.games-card .card {
    transition: 0.3s;
}
.games-card .card:hover .onhover-content {
    opacity: 1;
}

.games-card .card img {
    background: var(--linear-03);
}

.games-card .card p {
    font-weight: 500;
}

.onhover-content {
    position: absolute;
    height: calc(100% - 24px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: calc(100% - 8px);
    flex-direction: column;
    opacity: 0;
    transition: 0.3s;
    background: var(--linear-04);
    border-radius: 16px;
    border: 4px solid var(--primary-color);
    cursor: pointer;
}

.onhover-content span {
    background: var(--linear-01);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 600;

}


/* Responsive Styles */
@media screen and (max-width: 1199.98px) {
    header {
        padding: 1.5rem 1rem 2rem 1rem;
    }
}

@media screen and (max-width: 991.98px) {
    .banner {
        background-position: left bottom;
    }

    .banner-wrapper {
        gap: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    .banner-content {
        margin-top: 131px;
        margin-bottom: 165px;
        order: 2;
        margin-left: 237px;
    }

    header {
        box-shadow: none;
        margin-bottom: 78px;
    }

    .gamer-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    .gamer-content {
        order: 2;
        text-align: center;
    }

    .gamer-content p {
        margin-right: auto;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    nav li {
        margin-left: 1rem !important;
    }
    .games-card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767.98px) {

    .header-wrapper,
    nav ul {
        flex-direction: column;
    }

    nav ul {
        top: 62px;
    }

    nav li {
        margin: 0 0 36px 0;
    }

    nav li:last-child {
        margin-top: 26px
    }

    .banner-content {
        margin: 100px 0 0 50px;
    }

    .banner-content h1 {
        font-size: 44px;
    }

    .banner-content h2 {
        font-size: 80px;
    }

    .btn-primary {
        padding: 20px 30px;
    }
    .games-card {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 575.98px) {
    .banner {
        background-position: left 425px;
    }
}